<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="add-new-form" th:fragment="modal-replacement">
    <h1 class="title">Add new invoice</h1>
    <form class="form-container" th:action="@{/invoices/add}"
          onsubmit="setTimeout(function(){window.location.reload();},30)" method="post">
        <p>
            Description: <input type="text" name="description" required/>
        </p>
        <p>
            Amount: <input type="number" name="amount" required
                           pattern="[0-9]+([\.,][0-9]+)?" step="0.01"/>
        </p>
        <p>
            Payment date: <input type="date" name="paymentDateOnly" required/>
        </p>
        <p>
            Recurring:
            <input th:text="'Yes'" type="radio" th:name="recurring" th:value="true"/>
            <input th:text="'No'" type="radio" th:name="recurring" th:value="false" checked/>
        </p>
        <p>
            Payment period: <input id="payment-period" type="number" name="paymentPeriod"/>
        </p>
        <p>
            Payment period type:
            <select id="payment-period-type" name="paymentPeriodType">
                <option id="payment-period-type-selector" selected value=""> -- select an option --</option>
                <option th:value="'day'" th:text="'day/s'"></option>
                <option th:value="'month'" th:text="'month/s'"></option>
                <option th:value="'year'" th:text="'year/s'"></option>
            </select></p>
        <p>
            Active:
            <input th:text="'Yes'" type="radio" th:name="active" th:value="true"/>
            <input th:text="'No'" type="radio" th:name="active" th:value="false" checked/>
        </p>
        <p>
            Reminder before (value): <input type="number" id="reminder-before-payment-value"
                                            name="reminderBeforePaymentValue"/>
        </p>
        <p>
            Reminder before (type):
            <select id="reminder-before-payment-type" name="reminderBeforePaymentType">
                <option id="reminder-before-payment-type-selector" selected value=""> -- select an option --</option>
                <option th:value="'day'" th:text="'day/s'"></option>
                <option th:value="'month'" th:text="'month/s'"></option>
                <option th:value="'year'" th:text="'year/s'"></option>
            </select></p>
        <p>
            Paid:
            <input th:text="'Yes'" type="radio" name="currentPaid" value="true"/>
            <input th:text="'No'" type="radio" name="currentPaid" value="false" checked/>
        </p>
        <p>
            <input type="submit" value="Submit"/>
            <input type="reset" value="Reset"/>
        </p>
    </form>
    <script type="text/javascript" src="../../static/js/jquery.js"></script>
    <script type="text/javascript" src="../../static/js/script.js"></script>
</div>
</body>
</html>