<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="form-popup" th:fragment="modal-replacement">
    <form class="form-container" th:action="@{/invoices}"
          onsubmit="setTimeout(function(){
              window.location.reload();}
              ,30)" method="post">
        <p>
            Id: <input type="text" name="id" th:value="${invoice.getId()}" readonly/>
        </p>
        <p>
            Description: <input type="text" name="description" th:value="${invoice.getDescription()}"/>
        </p>
        <p>
            Amount: <input type="number" name="amount" th:value="${invoice.getAmount()}"
                           pattern="[0-9]+([\.,][0-9]+)?" step="0.01"/>
        </p>
        <p>
            Payment date: <input type="date" name="paymentDateOnly" th:value="${invoice.getPaymentDateOnly()}"/>
        </p>
        <p>
            Recurring:
            <input th:text="'Yes'" type="radio" th:name="recurring" th:value="true"
                   th:checked="${invoice.isRecurring() == true}"/>
            <input th:text="'No'" type="radio" th:name="recurring" th:value="false"
                   th:checked="${invoice.isRecurring() == false}"/>
        </p>
        <p>
            Payment period: <input id="payment-period" type="number" name="paymentPeriod"
                                   th:value="${invoice.getPaymentPeriod()}"/>
        </p>
        <p>
            Payment period type:
            <select id="payment-period-type" name="paymentPeriodType" th:value="${invoice.paymentPeriodType}">
                <option id="payment-period-type-selector" th:value="''" th:text="'-- select an option --'"
                        th:selected="${invoice.paymentPeriodType} == ''"> -- select an option --
                </option>
                <option th:value="'day'" th:text="'day/s'" th:selected="${invoice.paymentPeriodType} == 'day'"></option>
                <option th:value="'month'" th:text="'month/s'"
                        th:selected="${invoice.paymentPeriodType} == 'month'"></option>
                <option th:value="'year'" th:text="'year/s'"
                        th:selected="${invoice.paymentPeriodType} == 'year'"></option>
            </select>
        </p>
        <p>
            Active:
            <input th:text="'Yes'" type="radio" th:name="active" th:value="true"
                   th:checked="${invoice.isActive() == true}"/>
            <input th:text="'No'" type="radio" th:name="active" th:value="false"
                   th:checked="${invoice.isActive() == false}"/>
        </p>
        <p>
            Reminder before (value): <input type="number" id="reminder-before-payment-value"
                                            name="reminderBeforePaymentValue"
                                            th:value="${invoice.getReminderBeforePaymentValue()}"/>
        </p>
        <p>
            Reminder before (type):
            <select id="reminder-before-payment-type" name="reminderBeforePaymentType"
                    th:value="${invoice.reminderBeforePaymentType}">
                <option id="reminder-before-payment-type-selector" th:value="''" th:text="'-- select an option --'"
                        th:selected="${invoice.reminderBeforePaymentType} == ''"></option>
                <option th:value="'day'" th:text="'day/s'"
                        th:selected="${invoice.reminderBeforePaymentType} == 'day'"></option>
                <option th:value="'month'" th:text="'month/s'"
                        th:selected="${invoice.reminderBeforePaymentType} == 'month'"></option>
                <option th:value="'year'" th:text="'year/s'"
                        th:selected="${invoice.reminderBeforePaymentType} == 'year'"></option>
            </select>
        </p>
        <p>
            Paid:
            <input class="submit-btn" th:text="'Yes'" type="radio" name="currentPaid" th:value="true"
                   th:checked="${invoice.isCurrentPaid() == true}"/>
            <input th:text="'No'" type="radio" name="currentPaid" th:value="false"
                   th:checked="${invoice.isCurrentPaid() == false}"/>
        </p>
        <p>
            <input type="number" name="userId" th:value="${invoice.getUserId()}" readonly style="display: none"/>
        </p>
        <p>
            <input type="submit" value="Submit"/>
            <input type="reset" value="Reset"/>
        </p>
    </form>
</div>
</body>
</html>