<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div class="content" th:fragment="allInvoices">
    <div id="all-invoices">
        <h1 class="title">All invoices</h1>
        <table id="all-invoices-table" class="table">
            <thead>
            <tr>
                <th th:text="'Description'">Description</th>
                <th th:text="'Amount'">Amount</th>
                <th th:text="'Payment date'">Payment date</th>
                <th th:text="'Paid'">Paid</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="invoice : ${allInvoices}">
                <tr class="row" th:id="${invoice.id}">
                    <td th:text="${invoice.description}">Lorem Ipsum</td>
                    <td th:text="${invoice.amount}">22.22</td>
                    <td th:text="${invoice.paymentDate.toLocalDate()}">01.01.2019</td>
                    <td><i th:if="${invoice.isCurrentPaid()} == true" class="fas fa-check"></i>
                        <i th:if="${invoice.isCurrentPaid()} == false" class="fas fa-times"></i></td>
                    <td></td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>
</div>

<div class="content" th:fragment="overdueAndUnpaid">
    <div id="overdue-and-unpaid">
        <h1 class="title">Overdue and unpaid</h1>
        <table id="overdue-and-unpaid-table" class="table">
            <thead>
            <tr>
                <th th:text="'Description'">Description</th>
                <th th:text="'Amount'">Amount</th>
                <th th:text="'Payment date'">Payment date</th>
                <th th:text="'Paid'">Paid</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="invoice : ${overdueAndUnpaid}">
                <tr class="row" th:id="${invoice.id}">
                    <td th:text="${invoice.description}">Lorem Ipsum</td>
                    <td th:text="${invoice.amount}">22.22</td>
                    <td th:text="${invoice.paymentDate.toLocalDate()}">01.01.2019</td>
                    <td><i th:if="${invoice.isCurrentPaid()} == true" class="fas fa-check"></i>
                        <i th:if="${invoice.isCurrentPaid()} == false" class="fas fa-times"></i></td>
                    <td></td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>
</div>

<div class="content" th:fragment="oncomingAndUnpaid">
    <h1 class="title">Oncoming and unpaid</h1>
    <table id="oncoming-and-unpaid-table" class="table">
        <thead>
        <tr>
            <th th:text="'Description'">Description</th>
            <th th:text="'Amount'">Amount</th>
            <th th:text="'Payment date'">Payment date</th>
            <th th:text="'Paid'">Paid</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="invoice : ${oncomingAndUnpaid}">
            <tr class="row" th:id="${invoice.id}">
                <td th:text="${invoice.description}">Lorem Ipsum</td>
                <td th:text="${invoice.amount}">22.22</td>
                <td th:text="${invoice.paymentDate.toLocalDate()}">01.01.2019</td>
                <td><i th:if="${invoice.isCurrentPaid()} == true" class="fas fa-check"></i>
                    <i th:if="${invoice.isCurrentPaid()} == false" class="fas fa-times"></i></td>
                <td></td>
            </tr>
        </th:block>
        </tbody>
    </table>
</div>

<div class="content" th:fragment="paid">
    <h1 class="title">Paid</h1>
    <table id="paid-table" class="table">
        <thead>
        <tr>
            <th th:text="'Description'">Description</th>
            <th th:text="'Amount'">Amount</th>
            <th th:text="'Payment date'">Payment date</th>
            <th th:text="'Paid'">Paid</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="invoice : ${paid}">
            <tr class="row" th:id="${invoice.id}">
                <td th:text="${invoice.description}">Lorem Ipsum</td>
                <td th:text="${invoice.amount}">22.22</td>
                <td th:text="${invoice.paymentDate.toLocalDate()}">01.01.2019</td>
                <td><i th:if="${invoice.isCurrentPaid()} == true" class="fas fa-check"></i>
                    <i th:if="${invoice.isCurrentPaid()} == false" class="fas fa-times"></i></td>
                <td></td>
            </tr>
        </th:block>
        </tbody>
    </table>
</div>

</body>
</html>