<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="signup-form-container" th:fragment="modal-replacement">
    <h1 th:text="'Sign up'">form</h1>
    <form class="signup-form" th:action="@{/}"
          onsubmit="setTimeout(function(){
              window.location.reload();}
              ,30)" method="POST" th:object="${user}" enctype="utf8">
        <div>
            <label th:text="'Name'">Name</label>
            <input th:field="*{name}"/>
            <p th:each="error: ${#fields.errors('name')}"
               th:text="'Validation Error'">Validation error</p>
        </div>
        <div>
            <label th:text="'email'">email</label>
            <input type="email" th:field="*{mail}"/>
            <p th:each="error : ${#fields.errors('mail')}"
               th:text="'Validation error'">Validation error</p>
        </div>
        <div>
            <label th:text="'Password'">password</label>
            <input type="password" th:field="*{password}"/>
            <p th:each="error : ${#fields.errors('password')}"
               th:text="${error}">Validation error</p>
        </div>

        <input type="submit" value="Submit"/>
        <input type="reset" value="Reset"/>
    </form>
</div>
</body>
</html>