<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="../../static/css/styles.css"/>
</head>
<body>
<div th:fragment="user-info" class="user-info">

    <p><b>User name: </b><span th:text="${user.name}" class="user-info-row">User name</span></p>
    <p><b>Mail: </b><span th:text="${user.mail}" class="user-info-row">User mail</span></p>
    <p><b>Created at: </b><span th:text="${user.createdAt.toLocalDate()}" class="user-info-row">01.01.2019</span></p>

</div>
</body>
<script type="text/javascript" src="../../static/js/jquery.js"></script>
<script type="text/javascript" src="../../static/js/script.js"></script>
</html>