<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>elephantcode.pl</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="../static/css/styles.css"/>
</head>
<body>
<p th:text="'Admin site (in future)'"></p>
</body>
</html>